html {
    /* html是整个页面的父元素，其子元素会继承相同设置*/
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
    background-color: #00539F;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    /*text-shadow 四个值，向右偏移，向下偏移，模糊半径，阴影基色*/
    text-shadow: 3px 3px 1px black;
    text-align: center;
}

p,
li {
    font-size: 16px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字(基础字号的倍数) */
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    /* margin 两个值时：第一个代表上方和下方（在这个例子中设置为 0），而第二个值代表左边和右边 */
    margin: 0 auto;
    background-color: #FF9500;
    /* padding四个值时，上、右、下、左*/
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    /* 给予其块级行为*/
    display: block;
    margin: 0 auto;
    width: 600px;
}